nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') print_pro
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/')
          | 홈 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/manual') 메뉴얼
      li.nav-item
        a.nav-link(href='/register') 회원가입
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | 인쇄실
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='/posts') 오공학관
          a.dropdown-item(href='/posts') 명진당
