nav.navbar.navbar-default
    div.container
        div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            div.navbar-brand print_pro
        div.collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
                li
                    a(href='/') 홈
                li
                    a(href='/manual') 메뉴얼
                li
                    a(href='/posts') 명진당
                li
                    a(href='/posts') 오공학관
