extends ../partials/layout

block content
  h1= title
  p= message

  table(border="1")
        tr
            th 이름
            th 프로젝트명
        
        tr
            td 김재원
            td ph-1
//김재원이 작성함