extends ../partials/layout

block content
    div
        a(href='/posts/new') 글쓰기
    table
        thead
            tr
                th 제목
                th 날짜
   
        tbody            
            each p in posts
                td=p.title
                td=p.body