extends ../partials/layout

block content
    div
        a(href='/posts') 뒤로가기
    form(action='/posts', method='post')
        div
            h3 새로운 예약
        fieldset
            div
                label(for="title") 제목
                div
                    input#title(type="text", name="title")
            div
                label(for="body") 요청사항
                div
                    textarea#body(name="body", cols="30", rows="10")
            div
                //체크 박스 둘예정
        div
            button(type='submit') 제출