extends ../partials/layout
block content
    div
        a(href='/posts') 뒤로가기
    form(action='/posts', method='post')
        div
            h3 새로운 예약
        fieldset
            div
                label(for="title") 제목
                div
                    input#title(type="text", name="title")
            div
                label(for="body") 요청사항
                div
                    textarea#body(name="body", cols="30", rows="10")
            div
                label(for="allblack") 기본 컬러 체크시 흑백
                    input#allblack(type="checkbox" name="allblack")
            div  
                label(for="double_side") 기본 단면 체크시 양면
                    input#double_side(type="checkbox" name="double_side")
        div
            button(type='submit') 제출

        
